@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@100;300;400;500;800&display=swap');
*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
}
.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
   
    background: #1a2a6c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container-text{
    font-family: 'Poppins';
    color: #fff;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgb(16, 255, 255);
    transition: all 1s ease-in-out;
    opacity: 0;
    animation: fadeInAnimation 1s ease-in-out forwards;
}
@keyframes fadeInAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.container-text:hover{
    transform: 200s color;
    color: chartreuse;
}
/*480px mobile*/
@media screen and (max-width: 480px) {
    .container{
        background: #7F00FF;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
}
/*tablets */
@media screen and (min-width: 480px) and (max-width: 768px) {
    .container{
        background: #642B73;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #C6426E, #642B73);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #C6426E, #642B73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
}
/*desktop*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container{
        background: #06beb6;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
}