.container {
    border: 1px solid red;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 75px;
    grid-template-areas: "header header header" "sidebar content content" "sidebar content content";
}

.item {
    font-size: 1.5rem;
}

.item-1 {
    border: 1px solid blue;
    background-color: aquamarine;
    grid-area: header;
}

.item-2 {
    border: 1px solid blue;
    background-color: aquamarine;
    grid-area: sidebar;
}

.item-3 {
    border: 1px solid blue;
    background-color: aquamarine;
    grid-area: content;
}